/* Styles for tools */

#tools {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 60px;  /* Height when active */
    gap: 10px;
}

#tools > div {
    width: 50px;
    height: 30px;  /* Height when inactive */
    max-width: 200px;
    overflow: hidden;
}

#tools img {
    width: 100%;
}
