/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* TODO: I'm trying to disable selection of left edge & magnifying glass on iOS */
  user-select: none !important;
  -webkit-touch-callout: none !important;
  touch-action: none;
}

body {
  touch-action: none;
}

.perfect-center {
  justify-content: center;
  align-items: center;
  display: flex;
}
